{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ],
        "@babel/preset-typescript"
    ],
    "plugins": [
        "@babel/plugin-syntax-export-namespace-from",
        [
            "inline-json-import",
            {}
        ],
        "@babel/plugin-proposal-class-properties"
    ]
}
